In [ ]:
import pandas as pd
import pickle as pkl
import xgboost as xg
from sklearn.ensemble import GradientBoostingClassifier as gbc
from sklearn.metrics import r2_score
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier as rfc
from sklearn.model_selection import train_test_split as tts
import numpy as np

In [ ]:
with open('rfr.pkl','wb') as f:
  pkl.dump(model,f)

In [ ]:
df = pd.read_csv('dataset.csv')

In [ ]:
model = rfc()

In [ ]:
y_1d = y_1['copd']
y_2d = y_2['copd']

In [ ]:
model.fit(x_1,y_1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
x = [5*i for i in range(5,15)]
for i in range(10):
  xb = gbc(n_estimators = x[i],max_depth=10)
  xb.fit(x_1,y_1)
  pred = xb.predict(x_2)
  print(f1_score(pred,y_2,average='weighted'))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6011385199240987
0.6011385199240987

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6314516129032259
0.6011385199240987

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6011385199240987
0.6314516129032259

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6011385199240987

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6314516129032259

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6011385199240987

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6011385199240987

In [ ]:
xgb_r = xg.XGBClassifier(n_estimators = 35, seed = 123)
xgb_r.fit(x_1,y_1)
pred = xgb_r.predict(x_2)
print('Score')
print(f1_score(pred,y_2,average='weighted'))

Score
0.7181259600614439

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
xgb_r.save_model('ma.bin')

In [ ]:
xgb_r.save_model('m1.model')

In [ ]:
xgb_r.dump_model('m1.json')

AttributeError: ignored

-4.466179379290999

In [ ]:
out = df[['copd']]
inp = df[['AGE','PackHistory','FEV1','FVC','gender','smoking']]

In [ ]:
x_1,x_2,y_1,y_2 = tts(inp,out,test_size=0.3)

In [ ]:
model = rfr()
model.fit(inp,out)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor()

In [ ]:
pred = model.predict(x_2)

In [ ]:
r2_score(y_2,pred)

-6.83256062785885

In [ ]:
df.columns

Index(['Unnamed: 0', 'ID', 'AGE', 'PackHistory', 'COPDSEVERITY', 'MWT1',
       'MWT2', 'MWT1Best', 'FEV1', 'FEV1PRED', 'FVC', 'FVCPRED', 'CAT', 'HAD',
       'SGRQ', 'AGEquartiles', 'copd', 'gender', 'smoking', 'Diabetes',
       'muscular', 'hypertension', 'AtrialFib', 'IHD'],
      dtype='object')

In [ ]:
df.sample(4)

,Unnamed: 0,ID,AGE,PackHistory,COPDSEVERITY,MWT1,MWT2,MWT1Best,FEV1,FEV1PRED,...,SGRQ,AGEquartiles,copd,gender,smoking,Diabetes,muscular,hypertension,AtrialFib,IHD
73,74,30,73,60.0,MODERATE,443.0,462.0,462.0,1.92,66.0,...,56.96,3,2,1,2,0,1,0,0,1
84,85,92,72,75.0,SEVERE,492.0,440.0,492.0,0.94,30.0,...,45.30,3,3,1,2,1,0,0,0,0
75,76,143,67,45.0,MILD,460.0,466.0,466.0,2.79,88.0,...,29.98,2,1,1,1,0,0,0,0,0
49,50,8,71,3.0,MILD,420.0,398.0,420.0,1.67,93.0,...,29.29,3,1,0,2,0,0,0,0,0